.education-details-top {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr auto;
    text-align: left;
    width: 80vw;
    gap: 5%;
}

.education-details {
    display: grid;
    justify-content: start;
    flex-direction: column;
    gap: 0.5em;
    margin-bottom: 1em;
    text-align: left;
}

.education-details-secondary {
    font-size: 0.8em;
    color: rgb(73, 73, 73);
}
