.body {
    position: relative;
    width: 100vw;
}

.home-page-content {
    padding-bottom: 60px;
    text-align: left;
}

.technical-skill-icon {
    max-width: 6rem;
    max-height: 6rem;
}

.title {
    padding: 0;
    margin: 0;
    font-size: 1.5em;
    /* color: #a3b5d6; */
}

.my-name {
    color: #E59500;
} 

.tech-skills {
    display: grid;
    justify-content: space-between;
    justify-items: left;
    grid-column-gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    max-width: 80%;
}

.grid-item {
    display: inline-grid;
}


.grid-icon {
    display: inline-grid;
    margin: 5%;
    transition: 0.5s;
    scale: 0.8;
    align-self: center;
}

.grid-icon:hover {
    transform: scale(1.5);
    transition: 0.5s;
}

.header-section {
    display: flex;
    flex-direction: row;
    gap: 5%;
}
.cover-photo {
    max-width: 35vw;
    max-height: 35vh;
    align-self: center;
    border-radius: 10px;
}

@media (max-width: 500px) {
    .grid-icon {
        scale: 0.6;
    }

    .tech-skills {
        grid-column-gap: 3em;
    }
}