.body {
    position: relative;
    width: 100vw;
}

.slide-component {
    opacity: 0;
    animation-name: slideAnimation;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 150ms;
    animation-fill-mode: forwards;
}

.technical-skill-icon {
    max-width: 6rem;
    max-height: 6rem;
}

@keyframes slideAnimation {
    0% {
        opacity: 0%;
        transform: translateY(25%);
    }

    100% {
        opacity: 100%;
        transform: translateY(0%);
    }
}

.Title {
    padding: 0;
    margin: 0;
    font-size: 6.5rem;
    /* color: #a3b5d6; */
}

.my-name {
    color: #E59500;
} 

.icon-button {
    width: 80px;
    height: 80px;
    margin-top: none;
    border: none;
    border-radius: 20%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: none;
    margin-bottom: 10px;
}

.icon-button:hover {
    width: 80px;
    height: 80px;
    background-color: #0b0f29;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: none;
    margin-bottom: 10px;
}

ion-icon {
    font-size: 64px;
    color: #E59500;
    pointer-events: none;
}

.button-row {
    margin: none;
    padding: none;
}

.grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 25vw 25vw 25vw;
}

.grid-item {
    display: inline-grid;
}


.grid-icon {
    display: inline-grid;
    margin: 10px;
    transition: 0.5s;
}

.grid-icon:hover {
    transform: scale(1.5);
    margin-left: 2rem;
    margin-right: 2rem;
    transition: 0.5s;
}
