/** Navbar.css **/
.navbar {
    background-color: #0b0f292a;
    /* background-color: #12151b; */
    justify-content: space-between;
    width: auto;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.99;
    display: flex;
    gap: 5%;
    padding-bottom: 15rem;
    padding-top: 1rem;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: inset 0 -2px 1px 1px black;
}

.navbar ul {
    list-style: none;
    padding: 0.25rem;
    margin: 0;
    display: flex;
    gap: 5%;
    z-index: 2;
    overflow: scroll;
}

.nav-item {
    opacity: 1;
    color: white;
    font-size: 2rem;
    text-decoration: none;
    height: 65%;
    align-items: center;
    display: flex;
    padding: 0.5rem;
    text-shadow: -1px 1px black;
}

.navbar li {
    border-radius: 10%;
    transition: 0.3s;
}

.site-title {
    opacity: 1;
    position: relative;
    top: 0;
    font-size: 3rem;
    text-decoration: none;
    color: white;
}

.navbar li:hover {
    opacity: 1;
    /* background-color: blue; */
    box-shadow: 
    inset 0 0 50px #840032,
    inset 20px 0 300px #840032,
    0 0 10px white,
    10px 0 15px #840032,
    -10px 0 15px #840032;
    /* box-shadow: 
    inset 0 0 50px white,
    inset 20px 0 80px rgb(0, 150, 100),
    inset -20px 0 80px rgb(0, 150, 175),
    inset 20px 0 300px rgb(0, 150, 132) ,
    0 0 10px white,
    10px 0 15px rgb(0, 150, 75),
    -10px 0 15px rgb(0, 150, 75);  */
    transition: 0.3s;
}

#canvas {
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.graph-container {
    position: absolute;
    z-index: 0;
    max-width: 100vw;
}