/** Navbar.css **/
.navbar {
    background-color: #efebdd;
    /* background-color: #12151b; */
    justify-content: space-between;
    width: auto;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    gap: 5%;
    padding-top: 1rem;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.navbar ul {
    list-style: none;
    padding: 0.25rem;
    margin: 0;
    display: flex;
    width: vw;
    gap: 5%;
    z-index: 2;
}

.nav-item {
    opacity: 1;
    color: #343434;
    font-size: 2em;
    text-decoration: none;
    height: 65%;
    align-items: center;
    display: flex;
    padding-top: 0.5rem;
}

.navbar li {
    border-radius: 10%;
    display: inline-block;
    position: relative;
}

.navbar li:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #E59500;
    transition: transform 0.25s ease-out;
}

.navbar li:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}