.project-details {
    display: flex;
    flex-direction: column;;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 1em;
    width: 80vw;
    gap: 0.5em;
}

.project-details-top {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    text-align: left;
}

.project-details-secondary {
    font-size: 0.8em;
    color: rgb(73, 73, 73);
}
