.App {
  text-align: center;
  width: 100%;
  overflow-x: clip;
}

.App-header {
  background-color: #002642;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #E5DADA;
  width: 100%;
  position: relative;
}

.App-container {
  margin-left: 10vw;
  margin-right: 10vw;
}

.App-link {
  color: #61dafb;
}

.navbar-container {
  position: relative;
}

